name: build
on:
  pull_request:
    branches:
      - "main"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10.12"

      - name: Step poetry
        uses: abatilo/actions-poetry@v3
        with:
          poetry-version: "2.1.2"

      - name: Install dependencies
        run: poetry install --no-root

      - name: Run unit tests
        run: poetry run python test.py